@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --violet: #562af3;
    --white: #FFFFFF;
    --lightgray: #e4e4e4;
    --darkgray: #a4a1a1;
    --red: #e71e1e;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    background-color: #ECEFF1;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

#todo {
    margin: 2rem;
}

#todo h1 {
    color: var(--violet);
}

#todo-content {
    padding: 1.5rem;
}

#todo-form {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}

#todo-form {
    flex: 1 1 auto;
    margin: 1.5rem 0;
}

.todo-input {
    height: 45px;
    width: 100%;
	outline:none;
	border:1px solid var(--violet);
	border-radius: 25px;
    box-sizing: border-box;
    padding: 0 1rem;
    font-size: 1rem;
}

.btn {
    color: var(--white);
    padding: 1rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
}

.btn-primary {
    border: 1px solid var(--violet);
    background-color: var(--violet);
}

.btn-secondary {
    border: 1px solid var(--red);
    background-color: var(--red);
}

.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
}

.btn-md {
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
}

#todo-container {
    margin: 1.5rem 0;
    padding: 0.5rem 0;
    border-top: 1px solid var(--lightgray);
}

#todo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#todo-list > li {
    min-height: 50px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--lightgray);
}

#todo-list > li.urgent {
    border: 1px solid rgb(254, 239, 136);
    border-left: 4px solid rgb(254, 239, 136);
}

#todo-list > li.important {
    border: 1px solid rgb(113, 172, 113);
    border-left: 4px solid rgb(113, 172, 113);
}

#todo-list > li.later {
    border: 1px solid rgb(235, 136, 64);
    border-left: 4px solid rgb(235, 136, 64);
}

.done {
    text-decoration: line-through;
}

#todo-empty {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: var(--darkgray);
}